<div class="main-done">
  <ul class="done-lists", id="lists">
    <li>すうじをいれて</li>
    <li>こたえをおすと</li>
    <li>こたえがでるよ</li>
  </ul>
    <input id="number1" type="text">
    <span class="add-code">+</span>
    <input id="number2" type="text">
    <span class="add-code">=</span>
    <input id="calculate" type="button" value="こたえ">
</div>