<main class="grid">
  <a href="child1.jpg" data-aos="fade-up">
      <img class="grid-item"
        src="child1.jpg"
        srcset="child1.jpg 400w,
                child1.jpg 800w"
        alt="Study Child1">
  </a>
  <a href="child2.jpg" data-aos="fade-up">
      <img class="grid-item"
        src="child2.jpg"
        srcset="child2.jpg 400w,
                child2.jpg 800w"
        alt="Study Child2">
  </a>
  <a href="child3.jpg" data-aos="fade-up">
      <img class="grid-item"
        src="child3.jpg"
        srcset="child3.jpg 400w,
                child3.jpg 800w"
        alt="Study Child3">
  </a>
</main>
<main class="grid-sub">
  <a class="grid-big-top" href="child4.jpg" data-aos="fade-up">
      <img class="grid-item"
        src="child4.jpg"
        srcset="child4.jpg 400w,
                child4.jpg 800w"
        alt="Study Child4">
  </a>
  <a href="child5.jpg" data-aos="fade-up">
      <img class="grid-item"
        src="child5.jpg"
        srcset="child5.jpg 400w,
                child5.jpg 800w"
        alt="Study Child5">
  </a>
  <a href="child6.jpg" data-aos="fade-up">
      <img class="grid-item"
        src="child6.jpg"
        srcset="child6.jpg 400w,
                child6.jpg 800w"
        alt="Study Child6">
  </a>
  <a href="child7.jpg" data-aos="fade-up">
      <img class="grid-item"
        src="child7.jpg"
        srcset="child7.jpg 400w,
                child7.jpg 800w"
        alt="Study Child7">
  </a>
  <a href="child8.jpg" data-aos="fade-up">
      <img class="grid-item"
        src="child8.jpg"
        srcset="child8.jpg 400w,
                child8.jpg 800w"
        alt="Study Child8">
  </a>
  <a class="grid-big-bottom" href="child9.jpg" data-aos="fade-up">
      <img class="grid-item"
        src="child9.jpg"
        srcset="child9.jpg 400w,
                child9.jpg 800w"
        alt="Study Child9">
  </a>
  <a class="grid-big-row" href="child10.jpg" data-aos="fade-up">
      <img class="grid-item"
        src="child10.jpg"
        srcset="child10.jpg 400w,
                child10.jpg 800w"
        alt="Study Child10">
  </a>
  <a href="child11.jpg" data-aos="fade-up">
      <img class="grid-item"
        src="child11.jpg"
        srcset="child11.jpg 400w,
                child11.jpg 800w"
        alt="Study Child11">
  </a>
  <a href="child12.jpg" data-aos="fade-up">
      <img class="grid-item"
        src="child12.jpg"
        srcset="child12.jpg 400w,
                child12.jpg 800w"
        alt="Study Child12">
  </a>
</main>