<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>きっずぷらす</title>
    <meta name="description" content="子供が計算とパソコンを好きになります">
  </head>

  <body>
    <header>
      <div class="wrapper">
        <a class="logo" href="#hero">きっずぷらす</a>
        <nav>
          <button class="btn-menu">めにゅー</button>
          <ul class="main-nav">
            <li><a href="#addition">たしざん</a></li>
            <li><a href="#subtraction">ひきざん</a></li>
          </ul>
        </nav>
      </div>
    </header>

    

  </body>
</html>