<div class="main-done">
  <ul class="done-lists2", id="lists">
    <li>すうじをいれて</li>
    <li>こたえをおすと</li>
    <li>こたえがでるよ</li>
  </ul>
    <input id="number3" type="text">
    <span class="add-code">-</span>
    <input id="number4" type="text">
    <span class="add-code">=</span>
    <input id="calculate2" type="button" value="こたえ">
</div>