.main-done{
  padding-top: 60px;
  width: auto;
  height: 20vh; 
  display: flex;
  justify-content: center;
}

.done-lists,
.done-lists2{
    list-style: none;
    font-size: x-large;
}

.add-code{
  padding: 8px;
  display: inline-block;
  width: 25px;
  height: 10px;
}
