.show-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.show-image{
  object-fit: cover;
}

.show-list{
  list-style: none;
}

.show-lists{
  text-decoration: none;
  display: flex;
  justify-content: center;
  color: #fc7ea0;
}
