*{
  font-family: 'M PLUS 1p', sans-serif;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 150vw;
  position: relative;
  background-color: #ABEBF5;
}

header{
  height: 80px;
  width: 100%;
  padding: 17px;
  border-bottom: 0px solid white;
  background-color: white;
  box-shadow: 5px 10px 3px #856845;
  z-index: 1;
  position: fixed;
}

a{
  font-size: xx-large;
  text-decoration: none;
}

.wrapper{
  height: 60px;
}

.header-wrapper{
  display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
}

h2.logo{
  width: 30vw;
  font-size: 35px;
  background: -webkit-linear-gradient(left, #ff26fb, #00b3ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 40px;
}

.center-header{
  display: flex;
  justify-content: space-around;
  width: 40vw;
}

.plus{
  display: block;
}

.plus-icon{
  display: flex;
  justify-content: center;
}

.fa-plus-circle{
  color: #6FE6F2;
  font-size: 1em;
}

.plus-logo{
  color: #6FE6F2;
  font-size: 17px;
}

.subtraction{
  display: block;
}

.subtraction-icon{
  display: flex;
  justify-content: center;
}

.fa-minus-circle{
  color: #A1F53A;
  font-size: 1em;
}

.subtraction-logo{
  color: #A1F53A;
  font-size: 17px;
}

.right-header{
  display: flex;
  justify-content: space-around;
  width: 40vw;
}

.log-out{
  display: block;
}

.log-out-icon{
  display: flex;
  justify-content: center;
}

.fa-sign-out-alt{
  color: #DEC22A;
  font-size: 1em;
}

.log-out-logo{
  color: #DEC22A;
  font-size: 20px;
  vertical-align: top;
}

.post{
  display: block;
}

.post-icon{
  display: flex;
  justify-content: center;
}

.fa-pen-square{
  color: #F9A02F;
  font-size: 1em;
}

.post-logo{
  color: #F9A02F;
  font-size: 20px;
  vertical-align: top;
}

.log-in{
  display: block;
}

.log-in-icon{
  display: flex;
  justify-content: center;
}

.fa-sign-in-alt{
  color: #DEC22A;
  font-size: 1em;
}

.log-in-logo{
  color: #DEC22A;
  font-size: 20px;
  vertical-align: top;
}

.sign-up{
  display: block;
}

.sign-up-icon{
  display: flex;
  justify-content: center;
}

.fa-user-plus{
  color: #F9A02F;
  font-size: 1em;
}

.sign-up-logo{
  color: #F9A02F;
  font-size: 20px;
  vertical-align: top;
}

footer{
  width: 100%;
  text-align: center;
  background-color: white;
  padding: 26px 0px;
  box-shadow: 5px 10px 3px #856845;
  position: absolute;
  bottom: 0;
  color: white;
  background-image: url(manbou.gif);
  background-size: cover;
  background-position: center 48%;
}

footer a{
  font-size: 2rem;
}

@media (max-width: 1024px) {
  header{
    height: 80px;
    width: 100%;
    padding: 17px;
    border-bottom: 0px solid white;
    background-color: white;
    box-shadow: 5px 10px 3px #856845;
    z-index: 1;
    position: fixed;
  }
  
  a{
    font-size: xx-large;
    text-decoration: none;
  }
  
  .wrapper{
    height: 60px;
  }
  
  .header-wrapper{
    display: flex;
      justify-content: space-between;
      width: 100%;
      height: 60px;
  }
  
  h2.logo{
    width: 30vw;
    font-size: 35px;
    background: -webkit-linear-gradient(left, #ff26fb, #00b3ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 40px;
  }
  
  .center-header{
    display: flex;
    justify-content: space-around;
    width: 40vw;
  }
  
  .plus{
    display: block;
  }
  
  .plus-icon{
    display: flex;
    justify-content: center;
  }
  
  .fa-plus-circle{
    color: #6FE6F2;
    font-size: 1em;
  }
  
  .plus-logo{
    color: #6FE6F2;
    font-size: 17px;
  }
  
  .subtraction{
    display: block;
  }
  
  .subtraction-icon{
    display: flex;
    justify-content: center;
  }
  
  .fa-minus-circle{
    color: #A1F53A;
    font-size: 1em;
  }
  
  .subtraction-logo{
    color: #A1F53A;
    font-size: 17px;
  }
  
  .right-header{
    display: flex;
    justify-content: space-around;
    width: 40vw;
  }
  
  .log-out{
    display: block;
  }
  
  .log-out-icon{
    display: flex;
    justify-content: center;
  }
  
  .fa-sign-out-alt{
    color: #DEC22A;
    font-size: 1em;
  }
  
  .log-out-logo{
    color: #DEC22A;
    font-size: 20px;
    vertical-align: top;
  }
  
  .post{
    display: block;
  }
  
  .post-icon{
    display: flex;
    justify-content: center;
  }
  
  .fa-pen-square{
    color: #F9A02F;
    font-size: 1em;
  }
  
  .post-logo{
    color: #F9A02F;
    font-size: 20px;
    vertical-align: top;
  }
  
  .log-in{
    display: block;
  }
  
  .log-in-icon{
    display: flex;
    justify-content: center;
  }
  
  .fa-sign-in-alt{
    color: #DEC22A;
    font-size: 1em;
  }
  
  .log-in-logo{
    color: #DEC22A;
    font-size: 20px;
    vertical-align: top;
  }
  
  .sign-up{
    display: block;
  }
  
  .sign-up-icon{
    display: flex;
    justify-content: center;
  }
  
  .fa-user-plus{
    color: #F9A02F;
    font-size: 1em;
  }
  
  .sign-up-logo{
    color: #F9A02F;
    font-size: 20px;
    vertical-align: top;
  }
  
  footer{
    width: 100%;
    text-align: center;
    background-color: white;
    padding: 26px 0px;
    box-shadow: 5px 10px 3px #856845;
    position: absolute;
    bottom: 0;
    color: white;
    background-image: url(manbou.gif);
    background-size: cover;
    background-position: center 48%;
  }
  
  footer a{
    font-size: 2rem;
  }
}

@media (max-width: 599px) {
  .devise-form{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .field{
    width: 150%;
    height: 100px;
  }
  
  .devise-btn{
    width: 150%;
    height: 100px;
  }

  header{
    height: 60px;
    width: 100%;
    padding: 17px;
    border-bottom: 0px solid white;
    background-color: white;
    box-shadow: 5px 10px 3px #856845;
    z-index: 1;
    position: fixed;
  }
  
  a{
    font-size: xx-large;
    text-decoration: none;
  }
  
  .wrapper{
    height: 60px;
  }
  
  .header-wrapper{
    display: flex;
      justify-content: space-between;
      width: 100%;
      height: 60px;
  }
  
  h2.logo{
    width: 21vw;
    font-size: 0.45em;
    background: -webkit-linear-gradient(left, #ff26fb, #00b3ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 0px;
    padding-top: 5px;
  }
  
  .center-header{
    display: flex;
    justify-content: space-around;
    width: 40vw;
  }
  
  .plus{
    display: block;
  }
  
  .plus-icon{
    display: flex;
    justify-content: center;
  }
  
  .fa-plus-circle{
    color: #6FE6F2;
    font-size: 0.5em;
  }
  
  .plus-logo{
    color: #6FE6F2;
    font-size: 13px;
  }
  
  .subtraction{
    display: block;
  }
  
  .subtraction-icon{
    display: flex;
    justify-content: center;
  }
  
  .fa-minus-circle{
    color: #A1F53A;
    font-size: 0.5em;
  }
  
  .subtraction-logo{
    color: #A1F53A;
    font-size: 13px;
  }
  
  .right-header{
    display: flex;
    justify-content: space-around;
    width: 40vw;
  }
  
  .log-out{
    display: block;
  }
  
  .log-out-icon{
    display: flex;
    justify-content: center;
  }
  
  .fa-sign-out-alt{
    color: #DEC22A;
    font-size: 0.5em;
  }
  
  .log-out-logo{
    color: #DEC22A;
    font-size: 13px;
    vertical-align: top;
  }
  
  .post{
    display: block;
  }
  
  .post-icon{
    display: flex;
    justify-content: center;
  }
  
  .fa-pen-square{
    color: #F9A02F;
    font-size: 0.5em;
  }
  
  .post-logo{
    color: #F9A02F;
    font-size: 13px;
    vertical-align: top;
  }
  
  .log-in{
    display: block;
  }
  
  .log-in-icon{
    display: flex;
    justify-content: center;
  }
  
  .fa-sign-in-alt{
    color: #DEC22A;
    font-size: 0.5em;
  }
  
  .log-in-logo{
    color: #DEC22A;
    font-size: 13px;
    vertical-align: top;
  }
  
  .sign-up{
    display: block;
  }
  
  .sign-up-icon{
    display: flex;
    justify-content: center;
  }
  
  .fa-user-plus{
    color: #F9A02F;
    font-size: 0.5em;
  }
  
  .sign-up-logo{
    color: #F9A02F;
    font-size: 13px;
    vertical-align: top;
  }
  
  footer{
    width: 100%;
    text-align: center;
    background-color: white;
    padding: 26px 0px;
    box-shadow: 5px 10px 3px #856845;
    position: absolute;
    bottom: 0;
    color: white;
    background-image: url(manbou.gif);
    background-size: cover;
    background-position: center 48%;
  }
  
  footer a{
    font-size: 2rem;
  }

  .purchase-btn {
    width: 105px;
    height: 120px;
    background: #FC7EA0;
    text-align: center;
    border-radius: 4%;
    bottom: 32px;
    right: 32px;
    position: fixed;
    padding: 15px;
    z-index: 5;
    text-decoration: none;
  }
  
  .purchase-btn-text {
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }
  
  .fa-pencil-alt {
    width: 70%;
  }

  .main-done{
    padding-top: 60px;
    width: auto;
    height: 20vh; 
    display: flex;
    justify-content: center;
  }
  
  .done-lists,
  .done-lists2{
      list-style: none;
      font-size: large;
  }
  
  .add-code{
    padding: 8px;
    display: inline-block;
    width: 25px;
    height: 10px;
  }
  
}

.contents{
  width: 960px;
  margin: 0 auto;
  padding: 60px 0;
}

.contents-title{
  margin-bottom: 40px;
  text-align: center;
  font-size: xx-large;
}

.contents-form{
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contents-image{
  color: #856845;
  font-size: xx-large;
  input{
    display: none;
  }
}

form input,
form textarea {
  width: 80%;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  box-shadow: 5px 10px 3px #856845 inset;
}

form input[type="submit"] {
  background-color: #FC7EA0;
  border-radius: 20px;
  color: #fff;
  border: 0;
  box-shadow: 5px 10px 3px #856845;
}

form input[type="submit"]:hover {
  background-color: #FC7EA0;
  box-shadow: 5px 10px 3px #856845;
}

.success{
  text-align: center;
  margin-bottom: auto;
}

p{
  margin: 20px;
  padding: 40px 0px;
  font-size: xxx-large;
  color:orange;
  animation: recommend-animation 2s 2;
}

.btn{
  text-decoration: none;
  padding: 4px 16px;
  background-color: #FC7EA0;
  border-radius: 20px;
  color: #fff;
  border: 0;
  box-shadow: 5px 10px 3px #856845;
}

input{
  width: 15%;
  height: 35px;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  box-shadow: 5px 10px 3px #856845 inset;
}

input[type="button"] {
  padding: 5px;
  background-color: #FC7EA0;
  border-radius: 20px;
  color: #fff;
  border: 0;
  box-shadow: 5px 10px 3px #856845;
  width: auto;
}

input[type="button"]:hover {
  background-color: #FC7EA0;
  box-shadow: 5px 10px 3px #856845;
}