*{
  font-family: 'M PLUS 1p', sans-serif;
}

body{
  width: 100vw;
  height: 2000px;
}

header{
  width: 100vw;
  height: 80px;
  padding: 20px;
  border-bottom: 2px solid rgb(252, 250, 166);
}

a{
  font-size: xx-large;
}

.wrapper{
  display: flex;
  justify-content: center;
  width: auto;
  height: 80px;
}

.logo{
  width: 30vw;
  height: 80px;
}

.right-header{
  display: flex;
  justify-content: space-around;
  width: 20vw;
  height: 80px;
}

footer{
  text-align: center;
}