*{
  font-family: 'M PLUS 1p', sans-serif;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 1500px;
  position: relative;
}

header{
  height: 80px;
  width: 100%;
  padding: 17px;
  border-bottom: 0px solid #fcfaa6;
  background-color: #FAF08A;
  box-shadow: 5px 10px 3px #856845;
  z-index: 1;
  position: fixed;
}

a{
  font-size: xx-large;
}

.wrapper{
  height: 60px;
}

.header-wrapper{
  display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
}

.logo{
  width: 30vw;
}

.right-header{
  display: flex;
  justify-content: space-around;
  width: 40vw;
}

footer{
  width: 100%;
  text-align: center;
  background-color: #FAF08A;
  padding: 26px 0px;
  box-shadow: 5px 10px 3px #856845;
  position: absolute;
  bottom: 0;
}

footer a{
  font-size: 2rem;
}

.grid{
  display: grid;
  width: 94vw;
  margin: 30px 10px 20px 33px;
  gap: 1vw;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.grid-sub{
  display: grid;
  width: 94vw;
  margin: 3vw auto 3vw;
  gap: 1vw;
  grid-template-columns: repeat(4, 23vw);
  grid-template-rows: repeat(4, 23vw);
}

.grid-big-top{
  grid-column: 1/3;
  grid-row: 1/2;
}

.grid-big-bottom{
  grid-column: 3/5;
  grid-row: 2/3;
}

.grid-big-row{
  grid-column: 1/3;
  grid-row: 3/4;
}

.grid-item{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10%;
  object-position: center;
  filter: brightness(80%) drop-shadow(5px 10px 3px #856845);
  transition: .3s;
}

.grid-item:hover{
  filter: brightness(120%) drop-shadow(5px 10px 3px #856845);
  transform: scale(1.3);
  z-index: 3;
  position: relative;
}

.contents{
  width: 960px;
  margin: 0 auto;
  padding: 60px 0;
}

.contents-title{
  margin-bottom: 40px;
  text-align: center;
  font-size: xx-large;
}

.contents-form{
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input,
form textarea {
  width: 80%;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  box-shadow: 5px 10px 3px #856845 inset;
}

form input[type="submit"] {
  background-color: #FC7EA0;
  border-radius: 20px;
  color: #fff;
  border: 0;
  box-shadow: 5px 10px 3px #856845;
}

form input[type="submit"]:hover {
  background-color: #FC7EA0;
  box-shadow: 5px 10px 3px #856845;
}

.success{
  text-align: center;
  margin-bottom: auto;
}

p{
  margin: 20px;
  padding: 40px 0px;
  font-size: xxx-large;
  color:orange;
  animation: recommend-animation 2s 2;
}

.btn{
  text-decoration: none;
  padding: 4px 16px;
  background-color: #FC7EA0;
  border-radius: 20px;
  color: #fff;
  border: 0;
  box-shadow: 5px 10px 3px #856845;
}

.purchase-btn {
  width: 120px;
  background: #FC7EA0;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  z-index: 5;
  text-decoration: none;
}

.purchase-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.fa-pencil-alt {
  width: 70%;
}

.result-text{
  text-decoration: none;
}

.result-name{
  text-decoration: none;
}

.show-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.show-image{
  object-fit: cover;
}

.show-list{
  list-style: none;
}

.show-lists{
  text-decoration: none;
  display: flex;
  justify-content: center;
  color: #fc7ea0;
}